# local workspace settings
*.code-workspace
.vscode/*
*/.vscode/*

# build files
build/*
*/build*
*/install/*

# log files
log/*
*/log/*
*/testui/*

# file types
*.zip
*.bag

# temporarily adding AI model stuff
*.onnx
